.InformationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 3%;

  strong {
    font-family: 'roboto';
    font-size: 25px;
    font-weight: bold;
    color: #e9e9e9;
  }

  .MainContentInformation {

    .Conditions {
      margin-left: 10%;
      display: grid;
      grid-template-columns: 0.4fr 0.4fr ;
      
      
      box-sizing: border-box;
      width: 100%;

      span {

        svg {
          margin-right: 8%;
        }


      }


    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      hr {
        margin-top: 8%;
        color: #424040;
        width: 100%;
        height: 1%;
      }

      &:first-child {
        margin-top: 10%;
        strong {
          margin-top: 10%;
        }
      }
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    filter: blur(0.3px);
    border-radius: 20px;
    width: 100%;
    justify-content: space-between;
    height: 60%;
    
    span {
      font-size: 16px;
      font-family: 'roboto';
      color: #9f9f9f;
      margin-top: 5%;
      font-weight: bold;
    }

    strong {
      color: #424040;
      font-size: 50px;
    }
  }

}
